#menuLeft{
    float: left;
    height: 700px;
    width: 30%;
    padding: 50px;
}
#map {
    float: right;
    height: 700px;
    width: 70%;
    padding: 50px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.divider{
    clear: both;
}