{% extends 'base.html.twig' %}
{% block head %}
    {{ parent() }}
    {#{% block title %} Granjas {% endblock %}#}
 <head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="{{ asset('css/granjas.css') }}">
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
  <script type="text/javascript" src='../js-examples-rendering-helpers/iframe-height.js'></script>
 </head>
{% endblock %}
{% block body %}
{% include 'menu.html.twig' %}
    <div id="menuLeft" class="card">
            <ul class="list-group list-group-flush">
            <li class="list-group-item">Madrid. Base Central</li>
            <li class="list-group-item">Barcelona. Granja de Placas</li>
            <li class="list-group-item">Extremadura. Granja de Placas</li>
            <li class="list-group-item">Alicante. Central IT</li>
        </ul>
    </div>
    <div id="map" class="card"></div>
    <div class="divider">
    </div>
</body>
</html>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/granjas.js') }}"></script>
{% endblock %}